nav {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #F3A86D;

    .navbarLogo {
        width: 50px;
        padding-left: 20px;
    }

    .navbarTitle {
        color: #CC6D59;
        font-weight: 700;
        font-size: larger;
        padding-left: 20px;
    }

    .navbarMenuIcon {
        margin-left: auto;
        padding-right: 10px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        align-content: flex-end;
        list-style-type: none;
        margin-left: auto;

        li {
            padding-right: 30px;

            a {
                color: inherit;
                text-decoration-line: none;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    .element-to-hide {
      display: none;
    }
  }