footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #CC6D59;
    margin-top: auto;
    padding: 20px;

    .footerLogo {
        color: #F3A86D;
        width: 50px;
    }

    .footerTitle {
        padding-left: 20px;
        color: #F3A86D;
        font-weight: 700;
        font-size: larger;
        bottom: 20px;
        position: relative;
    }

    .footerSocials{
        i {
            font-size: larger;
            padding-left: 10px;
        }
    }

    .footerRights {

    }
}